@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    margin: 0 !important;
}

p {
    max-width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    position: relative;
    text-align: left;
    color: white;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.text {
    position: absolute;
    font-weight: 600 !important;
    font-size: 1.5rem;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.295);
    bottom: -30px;
    right: 16px;
    transition: all 0.3s ease-in-out;
}
.card:hover .text {
    bottom: 16px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:hover img {
    transform: scale(1.1);
}

.card img {
    display: block;
    width: 400px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.btn-close {
    outline: none;
    background: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: black 2px solid;
    font-size: 20px;
    border-radius: 100px;
}

#firstArtist {
    display: none;
    justify-content: center;

}

.controlContainer {
    display: flex;
    align-items: flex-start;
}

.contContent{
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 1rem;
    margin: 0 5rem;
}

.contContent p {
    margin: 0 5rem;
}

.header {
    margin:0;
}

.contCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contCard img {
    width: 400px;
    padding: 1rem;
}
